[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=blender_layer
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Blender Layer
Comment=Stream a 3d View from Blender directly into Krita
